[sql]
q1=SELECT COUNT(*) FROM ipps2011
q2=SELECT COUNT(*) FROM ipps2012
q3=SELECT COUNT(*) FROM ipps2013
q4=SELECT COUNT(*) FROM statePopEst
q5=SELECT SUM(totalDischarges) FROM ipps2013 WHERE drgDefinition LIKE '%MYOCARDIAL INFARCTION%' AND providerState='CA' AND providerCity='SAN FRANCISCO'
q6=SELECT DISTINCT providerState FROM ipps2013 ORDER BY providerState
q7=SELECT DISTINCT name FROM statePopEst ORDER BY name

